<div id="app">
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * Begin here  * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <div id="best-child" >
    <img src={{bestChild.picture}} alt="" [ngStyle]="{'width' : '100%' , 'height' : '100%'}">
  </div>
  <!-- https://ng.ant.design/components/table/en -->

  <nz-table class="table" [nzData]="users" #basicTable>
    <thead>
      <tr>
        <th>Family name</th>
        <th>Favorite Child</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.family_name }}</td>
        <td>{{ data.favoriteChildData }}</td>

      </tr>
    </tbody>
  </nz-table>
</div>
<script></script>
<router-outlet></router-outlet>
